# JsonWebToken secret for minting access tokens
JWT_SECRET					=	''

# JsonWebToken secret for minting refresh tokens
JWT_REFRESH_SECRET			=	''

# Self-explanatory
BACKEND_PORT				=	3000

# Retrieve this from your Supabase's project API settings
# '?pgbouner' suffix is required for Prisma ORM
SUPABASE_RLS_BYPASS_KEY		=	''
SUPABASE_URL				=	'postgres://postgres.[PROJECT-ID]:[PROJECT-PASSWORD]@[PROJECT-LOCATION].pooler.supabase.com:6543/postgres?pgbouncer=true'

# Logging level, 0: none, 1-5: FATAL, ERROR, WARNING, INFO, DEBUG
LOG_LEVEL					=	1